################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/CheonanBusData
/Data_Analyse/Data_Analyse/DTG-r-00000
/Data_Analyse/Data_Analyse/DTG-r-00001
/Data_Day
/.vs/CheonanBus/v17
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200131.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200130.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200129.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200128.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200127.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200126.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200125.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200124.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200123.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200122.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200121.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200120.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200119.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200118.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200117.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200116.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200115.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200114.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200113.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200112.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200111.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200110.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200109.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200108.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200107.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200106.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200105.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200104.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200103.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200102.txt
/Data_Analyse/Data_Analyse/SMUCheonanBus(DankookUniv)Data_DayBusData200101.txt
/Data_Analyse/Data_Analyse/DTG8
