################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/CheonanBusData
/Data_Analyse/Data_Analyse/DTG-r-00000
/Data_Analyse/Data_Analyse/DTG-r-00001
/Data_Day
